.team.home span {
    left: 10px;
}

.team.away span {
    left: 170px;
}

.team span {
    position:absolute;
    background-color: black;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: white;
    top: 100px;
    height: 60px;
    width: 60px;
    line-height:60px;
    text-align: center;
    border: 1px solid white;
}

.team img {
    position:absolute;
    top: 20px;
    height: 70px;
}

.team.home img {
    left: 10px;
}

.team.away img {
    left: 174px;
}

.clock {
    position:absolute;
    background-color: black;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: white;
    top: 100px;
    left: 80px;
    height: 40px;
    width: 80px;
    line-height:40px;
    text-align: center;
    border: 1px solid white;
}

img.ad {
    width: 80px;
    left: 80px;
    top: 150px;
    position: absolute;
}